md-toolbar(md-scroll-shrink)
	div.md-toolbar-tools
		md-button.md-icon-button(aria-label="menu")
			i(class=['fa fa-bars fa-lg'])
		h3
			a(ui-sref="home") Titulo
		span(flex)
		md-button.md-icon-button(aria-label="login",ui-sref="login")
			i(class=['fa fa-user fa-lg'])
