md-content(flex)
    md-card
        md-card-content 
            md-subheader ultimas acciones
            md-list
                md-list-item(ng-repeat="action in home.actions")
                    span 
                        i(class=['fa fa-save'])
                    p 
                        {{ action.actor }} {{action.verb}} 
                        a(ui-sref="farm({farmId:action.action_object.id})") {{action.action_object.name}}
                    md-divider

