doctype html
html(lang='en' data-ng-app='huertos')
  head
    title huertos
    meta(name='viewport' content='width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes')
    |<!-- inject:head:js -->
    |<!-- endinject -->
    |<!-- inject:html -->
    |<!-- endinject -->
    |<!-- bower:css -->
    |<!-- endbower -->
    |<!-- inject:css -->
    |<!-- endinject -->
  body

    div(data-ng-controller="ToolbarCtrl as toolbar",data-ng-include="'toolbar/toolbar.tpl.html'")

    section(layout="row")
      div(data-ng-controller="LeftnavCtrl as leftnav",data-ng-include="'leftnav/leftnav.tpl.html'")
      div(data-ui-view,flex)

    |<!-- bower:js -->
    |<!-- endbower -->
    |<!-- inject:js -->
    |<!-- endinject -->
