
<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" *ngIf="authService.isLoggedIn"   routerLink="/farms">Farms</a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item" *ngIf="!authService.isLoggedIn"  routerLink="/login">Login</a>
            <a class="navbar-item" *ngIf="authService.isLoggedIn"  (click)="logout()">Logout</a>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>
