md-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id="left",md-is-locked-open="$mdMedia('gt-md')",md-swipe-left="leftnav.close()")
    md-content(layout-padding)
        md-list
            //- Cabecera
            md-list-item
                img.md-avatar(ng-src="https://lh3.googleusercontent.com/-arGkRvO4W7M/AAAAAAAAAAI/AAAAAAAAeDE/rLBXQaVKRbE/s120-c/photo.jpg")
                span(flex)
                div.md-list-item-text
                    h3 Usuario
            md-divider

        //- Mis huertos
        md-subheader Mis huertos
        md-list
            md-list-item
                md-button.md-raised(flex) nuevo huerto
            md-list-item(data-ng-repeat="farm in leftnav.myfarms")
                div.md-list-item-text(flex,layout="row",layout-align="end center")
                    a(ui-sref="farm({farmId:farm.id})",flex) {{ farm.name }}
                    i(class=['fa fa-check'])
        md-divider
        md-subheader Huertos siguiendo
        md-list
            md-list-item(data-ng-repeat="farm in leftnav.farms_following")
                div.md-list-item-text(flex,layout="row",layout-align="end center")
                    a(ui-sref="farm({farmId:farm.id})",flex) {{ farm.name }}
                    i(class=['fa fa-times-circle'])
