div(layout="row")
	md-content(flex-sm="100",flex="40",offset-gt-sm="33")
		md-tabs(md-dynamic-height,md-border-bottom)
			md-tab(label="Login")
				md-content(layout-padding,layout="column",layout-align="center start")
					//- md-subheader.md-primary Enter your username and password
					form(name="loginForm",novalidate,layout-fill)
						md-input-container
							label Username
							input(ng-model="login.user.username",type="text",required,name="username")
							div(ng-messages="loginForm.username.$error",ng-if="loginForm.username.$dirty")
								div(ng-message="required") This is required.
						md-input-container
							label Password
							input(ng-model="login.user.password",type="password",required,name="password")
							div(ng-messages="loginForm.password.$error",ng-if="loginForm.password.$dirty")
								div(ng-message="required") This is required.
						md-button(class=['md-raised','md-primary'],ng-click="login.login()") Login

			md-tab(label="Register")
				md-content(layout-padding,layout="column",layout-align="center start")
					//- md-subheader.md-primary Enter your username and password
					form(name="registerForm",novalidate,layout-fill,ng-submit="login.register()")
						md-input-container
							label Username
							input(ng-model="login.user.username",type="text",required,name="username")
							div(ng-messages="registerForm.username.$error",ng-if="registerForm.username.$dirty")
								div(ng-message="required") This is required.
						md-input-container
							label Password
							input(ng-model="login.user.password",type="password",required,name="password")
							div(ng-messages="registerForm.password.$error",ng-if="registerForm.password.$dirty")
								div(ng-message="required") This is required.
						md-input-container
							label Email
							input(ng-model="login.user.email",type="email",name="email")
							div(ng-messages="registerForm.email.$error",ng-if="registerForm.email.$dirty")
								div(ng-message="email") Your email address is invalid
						md-button(class=['md-raised','md-primary'],type="submit") Register


			