<div *ngIf="farm" fxLayout="column" class="main">
  <div fxLayout="row">
    <mat-card style="margin: 10px" fxFlex>
      <mat-card-title fxLayout>
        <span fxFill>{{farm.name}}</span>
      </mat-card-title>
      <mat-card-subtitle>Fabio Rueda</mat-card-subtitle>
    </mat-card>
  </div>

  <div fxLayout="row">
    <mat-card style="margin: 10px" fxFlex>
      <mat-card-title>Data</mat-card-title>
    </mat-card>

    <mat-card style="margin: 10px" fxFlex>
      <mat-card-title>Location</mat-card-title>
      <div style="height: 400px;"
        leaflet
        leafletDraw
        [leafletOptions]="mapOptions">
      </div>
    </mat-card>
  </div>


  <div fxLayout="row" fxFlex>
    <mat-card style="margin: 10px" fxFlex>
    <mat-card-title>Farm map</mat-card-title>
    <gridster class="zonas" [options]="options">
      <gridster-item [item]="item" (mousedown)="showZoneDetails($event, item)"  *ngFor="let item of zones">
        <mat-card [style.background-color]="item.especies.color">{{item.especies.color}}</mat-card>
      </gridster-item>
    </gridster>
    </mat-card>
  </div>

  
</div>
