<div *ngIf="farm">

  <section class="first-bar">
    <div class="container">
      <div class="columns">
        <div class="column">
          <p class="title">{{farm.name}}</p>
        </div>

        <div class="column is-narrow">
          <div class="buttons">
            <a class="button is-info" (click)="water_modal_active=true">Add water</a>
            <a class="button">Edit zones</a>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-three-quarters">
          <div class="box zonas">
            <gridster class="" [options]="options">
              <gridster-item [item]="item" (mousedown)="showZoneDetails($event, item)" *ngFor="let item of zones">
                <div class="zone" [style.background-color]="item.especies.color"></div>
              </gridster-item>
            </gridster>
          </div>
        </div>
        <div class="column">
          <div class="box mapa">
            <div style="height: 290px;" leaflet [leafletOptions]="mapOptions" [leafletLayers]="layers" [leafletFitBounds]="fitBounds"></div>
            <!-- <div style="height: 300px;" leaflet leafletDraw [leafletOptions]="mapOptions"></div> -->

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="box zonas">

      </div>
    </div>
  </section>


  <section class="section">
    <div class="container">

    </div>
  </section>



  <div class="modal" [ngClass]="{'is-active': water_modal_active}"  >
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Modal title</p>
        <button class="delete" aria-label="close" (click)="water_modal_active=false"></button>
      </header>
      <section class="modal-card-body">
        <!-- Content ... -->
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success">Save changes</button>
        <button class="button">Cancel</button>
      </footer>
    </div>
  </div>
</div>